html
    head
        h1 #{str}
    body
        p #{body}
        p #{result}
        | <form action="/ps4" method="post">
        |     <label for="city">"Promise Version"  Enter city: </label>
        |     <input id="city" type="text" name="city_name">
        |     <input type="submit" value="OK">
        | </form>

        |<form action="/ps4-async" method="post">
        |     <label for="city">"Async Version"  Enter city: </label>
        |     <input id="city" type="text" name="city_name">
        |     <input type="submit" value="OK">
        | </form>

        | <form action="/ps4-callback" method="post">
        |     <label for="city">"Callback Version"  Enter city: </label>
        |     <input id="city" type="text" name="city_name">
        |     <input type="submit" value="OK">
        | </form>
