html
    head
        h1 #{str}
    body
        p #{body}
        p #{result}

        |<form action="/ps5-cache" method="post">
        |     <label for="city">"Cached Version"  Enter city: </label>
        |     <input id="city" type="text" name="city_name">
        |     <input type="submit" value="OK">
        | </form>
